/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5c1c1;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6ea5bf;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: dodgerblue;
    color: #b58f8f;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
}

